# fly.toml app configuration file generated for coelho-is-back on 2025-12-18T22:43:03Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'coelho-is-back'
primary_region = 'cdg'

[build]
  dockerfile = 'Dockerfile'

[[mounts]]
  source = 'coelho_data'
  destination = '/app/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
